<h3 class="header"> Product Details</h3>
<div class="ui-g ui-grid-responsive ui-fluid">
  <div class="ui-g-12">
        <div class="ui-grid-col-6 rowstyle">
          <h4>Product Name</h4>
          <input type="text"  pInputText  name="stOwner" [(ngModel)]="stOwner.name"  placeholder="enter name">
        </div>
    <!-- </div>
    <div class="ui-g-12"> -->
      <div class="ui-grid-col-6 rowstyle">
        <h4>Account Number</h4>
        <input type="text"  pInputText  name="stOwner" [(ngModel)]="stOwner.name"  placeholder="enter account number">
      </div>
  </div>
  <div class="ui-g-12 ">
    <div class="ui-grid-col-4 rowstyle">
      <h4>Address Details</h4>
      <textarea [rows]="6" [cols]="30" pInputTextarea name="stOwner" [(ngModel)]="stOwner.name"  placeholder="enter address details"></textarea>
    </div>
      <div class="ui-grid-col-3 rowstyle">
    <h4>City</h4>
    <input type="text"  pInputText  name="stOwner" [(ngModel)]="stOwner.name"  placeholder="enter city">
    <h4>State</h4>
    <input type="text"  pInputText  name="stOwner" [(ngModel)]="stOwner.name"  placeholder="enter state">
    </div>
    <div class="ui-grid-col-3 rowstyle">
  <h4>Country</h4>
  <input type="text"  pInputText  name="stOwner" [(ngModel)]="stOwner.name"  placeholder="enter country">
  <h4>Pin</h4>
  <input type="text"  pInputText  name="stOwner" [(ngModel)]="stOwner.name"  placeholder="enter pin">
  </div>
    </div>
  <div class="ui-g-12">
    <div class="ui-grid-col-4">
      <span>&nbsp;</span>
    </div>
    <div class="ui-grid-col-2 rowstyle">
      <button class="ui-button-primary" (click)="onSave()" pButton type="button" label="Save"></button>
    </div>
        <div class="ui-grid-col-2">
      <button class="ui-button-info" (click)="onSave()" pButton type="button" label="Reset"></button>
  </div>
  </div>

</div>
<!-- </div> -->
