
.body {
    font-family: "latoregular", "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #edf0f5;
}
.container{
  padding-top: 50px;
  /* display: flex;
  flex-direction: row; */
  /* padding-left: 150px;
  display: block; */
}
/* .flex-container {
  display: flex; */
  /* height: 600px;
  flex-wrap: wrap;
  align-content: space-around;
  background-color: DodgerBlue; */
/* } */
.flex-container {
  /* display: flex;
    flex-direction: row; */
  padding-top: 50px;
  background-color: #f1f1f1;
  padding-left: 200px;
  /* width: 100px; */
  /* margin: 10px; */
  /* text-align: center; */
  /* line-height: 75px; */
  /* font-size: 30px; */
}
